---
import Layout from "../layouts/Layout.astro";
import AboutCard from "../components/desk/AboutCard";
---

<Layout title="About" description="About the author">
  <div class="desk min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <AboutCard client:load lang="en" />
    </div>
  </div>
</Layout>
